name: Python Test
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
    - uses: actions/setup-python@V5
      with:
        python-version: '3.9'
        
    - name: install python
    - run:  |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 nose
      
    
